
/*sidebar시작*/

.sidebar {
  background-color: var(--color-light-beige);
  width: 12%;
  height: var(--screen-height);
  border-right: solid 1px var(--color-light-grey);
  white-space: nowrap;
}

.logo {
  width: 150px;
  margin: var(--margin-medium-large) var(--margin-small);
  margin-bottom: 0;
}

.sidebar_ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.sidebar_ul > li {
  padding: calc(var(--padding-large)) var(--padding-small);
}

.sidebar_ul > :first-child {
  margin-top: calc(var(--margin-medium-large));
}

.sidebar_ul > li > a {
  font-size: calc(var(--font-medium-large) * 0.8);
  font-weight: 500;
  text-decoration: none;
  color: var(--color-black);
}

.sidebar_ul > li:hover {
  /* border-right: 5px solid var(--color-sky-blue); */
  background: #1d378b; /* #0094d4 , #1d378b, #9c9ea0, #6c6d6f*/
}

.sidebar_ul > li:hover > a {
  color: white;
  font-weight: 500;
  font-size: calc(var(--font-medium-large) * 0.85);
  transition: all 0.4s ease;
}
